#about{
  &>div{
    padding: 8rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background: #fff;

    // background: red;
    .abouttext{
        width: 40%;
        h1{
            font-size: 1.8rem;
            color: $primary;
        }

        p{
            font-size: .9rem;
            padding: .8rem 0;
            line-height: 190%;
        }
    }

    .image{
        height: 400px;
        background: lightgrey;
        width: 50%;
        position: relative;
        border: 7px solid #979797;
    }
  }
}