#hero{
    padding: 20rem 0 23rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // height: 100vh;
    max-height: 600px;
    position: relative;
    width: 100%;
    background: grey;

    .intro{
        width: 45%;
        h1{
            font-size: 3rem;
        }

        p{
            font-size: 1.1rem;
            padding: 1rem 0;
            color: #fff;
            line-height: 190%;
        }
    }

    .image{
        position: absolute;
        top: 0;
        right: 0;
        height: 500px;
        background: lightgrey;
        width: 50%;
    }
}